Repository amosov00/simba: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend

.gitlab-ci.yml:

image: docker:stable
services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

.rules_backend:
  rules: &rules_backend
    - if: "$CI_COMMIT_REF_NAME == 'master' || $CI_COMMIT_REF_NAME == 'develop'"
      changes:
        - "backend/**/*"
        - "deployment/dockerfiles/*"

.rules_frontend:
  rules: &rules_frontend
    - if: "$CI_COMMIT_REF_NAME == 'master' || $CI_COMMIT_REF_NAME == 'develop'"
      changes:
        - "frontend/**/*"
        - "deployment/dockerfiles/*"

.ssh_helper: &ssh_helper
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client git -y )'
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts

before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY

after_script:
  - docker logout $CI_REGISTRY

stages:
  - build
  - deploy

build-backend:
  stage: build
  variables:
    CONTAINER_NAME: 'backend'
    DOCKERFILE_PATH: './deployment/dockerfiles/Dockerfile.backend.common'
  script:
    - docker build --pull -t "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest" . -f $DOCKERFILE_PATH --no-cache
    - docker push "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest"
  rules: *rules_backend


build-frontend:
  stage: build
  variables:
    CONTAINER_NAME: 'frontend'
    DOCKERFILE_PATH: './deployment/dockerfiles/Dockerfile.frontend.$CI_COMMIT_REF_SLUG'
  script:
    - docker build --pull -t "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest" . -f $DOCKERFILE_PATH --no-cache
    - docker push "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest"
  rules: *rules_frontend

deploy-develop:
  stage: deploy
  environment:
    name: develop
  only:
    - develop
  script:
    - sh ./deployment/scripts/test-env.sh
    - *ssh_helper
    - sh ./deployment/scripts/proceed-env.sh
    - sh ./deployment/scripts/deploy.sh

deploy-production:
  stage: deploy
  environment:
    name: production
  only:
    - master
  script:
    - sh ./deployment/scripts/test-env.sh
    - *ssh_helper
    - sh ./deployment/scripts/proceed-env.sh
    - sh ./deployment/scripts/deploy.sh

fixed fetch_simba_transactions.py cron
  backend/celery_app/tasks/crypto/simba/fetch_simba_transactions.py
Due: build-backend

pipe: rework
  frontend/components/Trade/BillPayment.vue
  frontend/components/Trade/CreatePayment.vue
  frontend/components/Trade/Final.vue
  frontend/components/Trade/SimbaRecieved.vue
  frontend/components/Trade/Status.vue
  frontend/lang/rus.js
  frontend/pages/exchange/buysell.vue
Due: build-frontend

returned validation
  backend/core/mechanics/crypto/base.py
Due: build-backend

hotfix
  backend/core/mechanics/crypto/simba.py
Due: build-backend

add mailgun endpoint
  backend/config/email.py
  backend/core/utils/email.py
Due: build-backend

pipeline: min confirms
  frontend/components/Trade/BillPayment.vue
  frontend/components/Trade/SimbaRecieved.vue
  frontend/components/Trade/Status.vue
  frontend/pages/howtouse.vue
Due: build-frontend

change social links
  frontend/lang/eng.js
  frontend/lang/rus.js
Due: build-frontend

replace links on blockchain.com explorer
  frontend/components/Trade/Final.vue
  frontend/components/Trade/Status.vue
Due: build-frontend

add missed paragraph
  frontend/lang/eng.js
  frontend/lang/rus.js
Due: build-frontend

fix formating
  frontend/mixins/formatCurrency.js
Due: build-frontend

add links
  frontend/components/Header.vue
Due: build-frontend

add users & invoices administration pages
  frontend/pages/invoices/_id.vue
  frontend/pages/invoices/index.vue
  frontend/pages/users/_id.vue
  frontend/pages/users/index.vue
  frontend/store/index.js
  frontend/store/invoices.js
Due: build-frontend

updated .gitignore
  .gitignore
Due: none

increased MAX_GAS_PRICE_GWEI and fixed gas_price_from_ethgasstation
  backend/config/crypto.py
  backend/core/utils/gas_station.py
Due: build-backend

delay token redeem after btc tx confirmation
  backend/core/mechanics/crypto/simba.py
  backend/core/mechanics/invoice.py
Due: build-backend

optimized invoice buy algo
  backend/core/mechanics/invoice.py
Due: build-backend

added admin users update endpoint
  backend/api/controllers/admin/users.py
  backend/database/crud/user.py
  backend/schemas/user.py
Due: build-backend

added btc xpub func for admin
  backend/api/controllers/admin/__init__.py
  backend/api/controllers/admin/btc_xpub.py
  backend/api/controllers/invoice.py
  backend/api/routes.py
  backend/config/crypto.py
  backend/core/integrations/pycoin_wrapper.py
  backend/core/mechanics/crypto/bitcoin.py
  backend/database/crud/__init__.py
  backend/database/crud/btc_address.py
  backend/database/crud/btc_xpub.py
  backend/database/crud/meta.py
  backend/database/db_events.py
  backend/requirements.txt
  backend/schemas/__init__.py
  backend/schemas/btc_address.py
  backend/schemas/btc_xpub.py
  backend/schemas/meta.py
Due: build-backend

updated transparency
  backend/api/controllers/transparency.py
  backend/schemas/transparency.py
Due: build-backend

improved cronjob and invoice sell pipeline
  backend/celery_app/celeryconfig.py
  backend/celery_app/tasks/crypto/simba/fetch_simba_transactions.py
  backend/celery_app/tasks/invoices/finish_overdue_invoices.py
  backend/celery_app/tasks/invoices/sell_pipeline.py
  backend/core/mechanics/invoice.py
Due: build-backend

fixed prepopulate prepopulate_xpubs
  backend/database/db_events.py
Due: build-backend

fixed invoice mechanics validation
  backend/core/mechanics/invoice.py
Due: build-backend

add mailgun endpoint
  backend/core/utils/email.py
Due: build-backend

Update email.py
  backend/core/utils/email.py
Due: build-backend

hotfix
  backend/config/email.py
Due: build-backend

feat: admin users details
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/mixins/formatDate.js
  frontend/pages/users/_id.vue
  frontend/store/index.js
Due: build-frontend

changed restart policy in docker-compose and misc admin users changes
  backend/api/controllers/admin/users.py
  backend/database/crud/base.py
  backend/database/crud/user.py
  backend/schemas/user.py
  docker-compose.develop.yml
  docker-compose.master.yml
Due: build-backend

feat: admin invoices, ability to edit account data
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/pages/invoices/_id.vue
  frontend/pages/invoices/index.vue
  frontend/pages/users/_id.vue
  frontend/pages/users/index.vue
  frontend/store/index.js
  frontend/store/invoices.js
Due: build-frontend

message to support WIP, added sst_tx_hashes to Invoice schema
  backend/api/controllers/debug.py
  backend/config/common.py
  backend/core/mechanics/crypto/simba.py
  backend/core/mechanics/crypto/sst.py
  backend/core/mechanics/invoice.py
  backend/core/utils/email.py
  backend/database/crud/base.py
  backend/schemas/invoice.py
Due: build-backend

fix: pipeline rework
  frontend/components/HeaderBalance.vue
  frontend/components/Trade/BillPayment.vue
  frontend/components/Trade/CreatePayment.vue
  frontend/components/Trade/Status.vue
  frontend/pages/exchange/buysell.vue
  frontend/pages/invoices/index.vue
  frontend/store/invoices.js
Due: build-frontend

fix: admin detailed invoice
  frontend/pages/invoices/_id.vue
  frontend/store/invoices.js
Due: build-frontend

fixed SSTWrapper init in InvoiceMechanics
  backend/core/mechanics/invoice.py
Due: build-backend

feat: xpub + btc address speed up
  frontend/components/Header.vue
  frontend/components/Trade/BillPayment.vue
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/pages/invoices/_id.vue
  frontend/pages/invoices/index.vue
  frontend/pages/xpub/index.vue
  frontend/store/xpub.js
Due: build-frontend

fix: buy pipeline btc amount 4-th step
  frontend/components/Trade/Status.vue
Due: build-frontend

feat: xpub update
  frontend/assets/images/bitcoin-new.png
  frontend/assets/images/switzerland.svg
  frontend/components/Header.vue
  frontend/components/Trade/BillPayment.vue
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/pages/xpub/index.vue
  frontend/store/xpub.js
Due: build-frontend

fix: minor-fix
  frontend/assets/scss/main.sass
  frontend/components/Header.vue
  frontend/pages/invoices/index.vue
  frontend/pages/users/index.vue
Due: build-frontend

added email sending if not enough balance of hot wallet
  backend/api/controllers/debug.py
  backend/celery_app/tasks/invoices/sell_pipeline.py
  backend/core/mechanics/invoice.py
  backend/core/utils/__init__.py
  backend/core/utils/email.py
  backend/database/crud/base.py
  backend/database/crud/eth_transaction.py
  docker-compose.yml
Due: build-backend

added tenacity and decorated with retry external API calls
  backend/core/integrations/blockcypher/base.py
  backend/core/utils/email.py
  backend/requirements.txt
Due: build-backend

Fixed fetch_empty_btc_addresses_info bug
  backend/api/controllers/debug.py
  backend/celery_app/celeryconfig.py
  backend/celery_app/tasks/crypto/btc/update_addresses_info.py
  backend/core/integrations/blockcypher/base.py
  backend/core/mechanics/crypto/bitcoin.py
Due: build-backend

changed transparency statistics logic
  backend/api/controllers/transparency.py
Due: build-backend
