Repository amosov00/simba: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-backend-nodejs, build-frontend

build-backend:
  stage: build
  variables:
    CONTAINER_NAME: backend
    DOCKERFILE_PATH: ./deployment/dockerfiles/Dockerfile.backend.common
  script:
  - docker build --pull -t "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest" . -f $DOCKERFILE_PATH --no-cache
  ...

build-backend-nodejs:
  stage: build
  variables:
    CONTAINER_NAME: backend-nodejs
    DOCKERFILE_PATH: ./deployment/dockerfiles/Dockerfile.backend-nodejs.common
  script:
  - docker build --pull -t "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest" . -f $DOCKERFILE_PATH --no-cache
  ...

build-frontend:
  stage: build
  variables:
    CONTAINER_NAME: frontend
    DOCKERFILE_PATH: ./deployment/dockerfiles/Dockerfile.frontend.$CI_COMMIT_REF_SLUG
  script:
  - docker build --pull -t "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest" . -f $DOCKERFILE_PATH --no-cache
  ...

optomized code
  backend/database/crud/referral.py
Due: build-backend, build-backend-nodejs

added ping endpoint
  backend/api/controllers/ping.py
  backend/api/routes.py
Due: build-backend, build-backend-nodejs

added method to Mongo inst
  backend/database/init.py
Due: build-backend, build-backend-nodejs

fixed transparency simba rps issue
  backend/core/mechanics/transparency.py
Due: build-backend, build-backend-nodejs

fixed email support notifier and translation
  .editorconfig
  backend/celery_app/tasks/invoices/rescue_stucked_invoices.py
  backend/celery_app/tasks/invoices/sell_pipeline.py
  backend/config/common.py
  backend/config/email.py
  backend/core/mechanics/notifier/__init__.py
  backend/core/mechanics/notifier/notifier.py
  backend/core/utils/email.py
  backend/database/db_events.py
  backend/schemas/meta.py
  backend/templates/recover.html
  backend/templates/support-btc-warning.html
  backend/templates/support-hot-wallet.html
  backend/templates/support-invoice-stuck.html
  backend/templates/verification.html
  frontend/lang/rus.js
Due: build-backend, build-backend-nodejs, build-frontend

fixed transparency, colorize statuses, added column created_at to users
  backend/api/controllers/admin/users.py
  backend/core/mechanics/transparency.py
  backend/database/crud/user.py
  frontend/assets/scss/main.sass
  frontend/consts/index.js
  frontend/consts/invoice.js
  frontend/pages/invoices/index.vue
  frontend/pages/users/index.vue
Due: build-backend, build-backend-nodejs, build-frontend

fixed transparency and updated rescue cron
  backend/api/controllers/debug.py
  backend/celery_app/celeryconfig.py
  backend/celery_app/tasks/crypto/simba/__init__.py
  backend/celery_app/tasks/crypto/simba/fetch_simba_meta.py
  backend/celery_app/tasks/invoices/rescue_stucked_invoices.py
  backend/config/crypto.py
  backend/core/integrations/__init__.py
  backend/core/integrations/base/__init__.py
  backend/core/integrations/base/base_api_wrapper.py
  backend/core/integrations/ethplorer_wrapper.py
  backend/core/mechanics/invoice.py
  backend/core/mechanics/notifier/notifier.py
  backend/core/mechanics/transparency.py
  backend/database/crud/meta.py
  backend/schemas/meta.py
Due: build-backend, build-backend-nodejs

fixed transparency
  backend/core/mechanics/transparency.py
Due: build-backend, build-backend-nodejs

fixing ethplorer integration
  backend/celery_app/tasks/crypto/simba/fetch_simba_meta.py
Due: build-backend, build-backend-nodejs

fixing transparency
  backend/core/mechanics/transparency.py
Due: build-backend, build-backend-nodejs

fixed transparency, rescue cron
  backend/celery_app/tasks/invoices/rescue_stucked_invoices.py
  backend/core/mechanics/transparency.py
Due: build-backend, build-backend-nodejs

added type columns to invoices and fixed register
  frontend/components/ProfileDropdown.vue
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/pages/admin/invoices/_id.vue
  frontend/pages/admin/invoices/index.vue
  frontend/pages/admin/manage-payouts/index.vue
  frontend/pages/admin/users/_id.vue
  frontend/pages/admin/users/index.vue
  frontend/pages/admin/xpub/index.vue
  frontend/pages/register/index.vue
  rundev-front.2.sh
Due: build-frontend

link fb
  frontend/components/Footer.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/index.vue
  frontend/pages/profile/verification.vue
  frontend/plugins/auth.js
  rundev-front.2.sh
Due: build-frontend

added missing requirements to pyproject.toml, fixed jwt.py
  backend/core/utils/jwt.py
  backend/poetry.lock
  backend/pyproject.toml
Due: build-backend, build-backend-nodejs

user search, new transparency info, misc front changes
  backend/api/controllers/transparency.py
  backend/core/mechanics/transparency.py
  docker-compose.develop.yml
  docker-compose.yml
  frontend/components/Footer.vue
  frontend/components/Header.vue
  frontend/components/Trade/CreatePayment.vue
  frontend/pages/admin/users/index.vue
  frontend/store/index.js
Due: build-backend, build-backend-nodejs, build-frontend

downgraded fastapi, uvicorn; added websockets
  backend/poetry.lock
  backend/pyproject.toml
Due: build-backend, build-backend-nodejs

removed db from docker-compose.develop.yml
  docker-compose.develop.yml
Due: none

added xpub balance update, improved finish_overdue_invoices cron, misc fixes
  .pre-commit-config.yaml
  backend/core/integrations/blockcypher/base.py
  backend/core/mechanics/crypto/bitcoin.py
  backend/database/crud/btc_address.py
  backend/workers/agents/invoices/__init__.py
  backend/workers/agents/invoices/finish_overdue_invoices.py
  backend/workers/agents/invoices/send_btc_to_proceeding_invoices.py
Due: build-backend, build-backend-nodejs

added users total num, added users export
  .isort.cfg
  backend/api/controllers/admin/users.py
  backend/core/mechanics/__init__.py
  backend/core/mechanics/excel/__init__.py
  backend/core/mechanics/excel/base.py
  backend/core/mechanics/excel/export_users.py
  backend/poetry.lock
  backend/pyproject.toml
  frontend/package.json
  frontend/pages/admin/users/_id.vue
  frontend/pages/admin/users/index.vue
  frontend/store/admin.js
  frontend/store/index.js
  frontend/yarn.lock
Due: build-backend, build-backend-nodejs, build-frontend

partner page new amounts format
  frontend/pages/profile/partner.vue
Due: build-frontend

preparing docker-compose.master for kafka and faust
  deployment/scripts/deploy.sh
  deployment/scripts/proceed-env.sh
  deployment/scripts/test-env.sh
  docker-compose.master.yml
Due: none

added ping to Mongo instance
  backend/database/init.py
Due: build-backend, build-backend-nodejs

removed empty file, fixed cron
  backend/celery_app/tasks/invoices/rescue_stucked_invoices.py
  backend/workers/crons.py
Due: build-backend, build-backend-nodejs

added extra open infura url, fixed simba balance
  backend/api/controllers/meta.py
  backend/config/config_parts/crypto.py
  backend/core/integrations/ethereum/base_wrapper.py
  backend/schemas/eth_contract.py
  frontend/components/Header.vue
  frontend/middleware/contract.js
  frontend/nuxt.config.js
  frontend/pages/exchange/index.vue
  frontend/pages/index.vue
  frontend/pages/profile/data.vue
  frontend/plugins/contract.js
  frontend/store/contract.js
Due: build-backend, build-backend-nodejs, build-frontend

token test
  frontend/pages/profile/verification.vue
Due: build-frontend

connected kyc
  frontend/pages/admin/users/index.vue
  frontend/pages/profile/verification.vue
Due: build-frontend

add person verify client add keyc access key get endpoint
  backend/api/controllers/account.py
  backend/config/app_settings.py
  backend/config/config_parts/__init__.py
  backend/config/config_parts/person_verify.py
  backend/core/integrations/person_verify.py
  backend/schemas/user.py
Due: build-backend, build-backend-nodejs

add person verify client add keyc access key get endpoint
  backend/api/controllers/account.py
  backend/core/integrations/person_verify.py
  backend/schemas/user.py
Due: build-backend, build-backend-nodejs

updated deps in package.json, updated favicon, fixed partner code, improved partner page
  backend/api/controllers/account.py
  backend/core/mechanics/referrals.py
  backend/database/crud/user.py
  backend/schemas/referral.py
  backend/schemas/user.py
  frontend/pages/profile/partner.vue
  frontend/static/android-chrome-192x192.png
  frontend/static/android-chrome-512x512.png
  frontend/static/apple-touch-icon.png
  frontend/static/favicon-16x16.png
  frontend/static/favicon-32x32.png
  frontend/static/favicon.ico
  frontend/static/site.webmanifest
  frontend/store/index.js
  frontend/yarn.lock
Due: build-backend, build-backend-nodejs, build-frontend

add requirements
  backend/poetry.lock
  backend/pyproject.toml
Due: build-backend, build-backend-nodejs

fixed transparency transactions sorting
  backend/core/mechanics/transparency.py
Due: build-backend, build-backend-nodejs

added additional filters to admin invoice, formatting
  .isort.cfg
  backend/api/controllers/account.py
  backend/config/app_settings.py
  backend/core/integrations/person_verify.py
  backend/database/crud/invoice.py
  backend/pyproject.toml
  backend/schemas/user.py
  frontend/plugins/auth.js
Due: build-backend, build-backend-nodejs, build-frontend

added additional filters to admin invoice
  backend/database/crud/invoice.py
Due: build-backend, build-backend-nodejs

Path conditions:
  build-backend: any of: backend/**/*, deployment/dockerfiles/*
  build-backend-nodejs: any of: backend/**/*, deployment/dockerfiles/*
  build-frontend: any of: frontend/**/*, deployment/dockerfiles/*
