Repository amosov00/simba: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend

build-backend:
  stage: build
  variables:
    CONTAINER_NAME: backend
    DOCKERFILE_PATH: ./deployment/dockerfiles/Dockerfile.backend.common
  script:
  - docker build --pull -t "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest" . -f $DOCKERFILE_PATH --no-cache
  ...

build-frontend:
  stage: build
  variables:
    CONTAINER_NAME: frontend
    DOCKERFILE_PATH: ./deployment/dockerfiles/Dockerfile.frontend.$CI_COMMIT_REF_SLUG
  script:
  - docker build --pull -t "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest" . -f $DOCKERFILE_PATH --no-cache
  ...

Added transparency endpoints
  backend/api/controllers/__init__.py
  backend/api/controllers/transparency.py
  backend/api/routes.py
  backend/config/crypto.py
  backend/core/integrations/pycoin_wrapper.py
  backend/core/mechanics/crypto/bitcoin.py
  backend/database/crud/base.py
  backend/schemas/__init__.py
  backend/schemas/btc_address.py
  backend/schemas/transparency.py
  backend/update_btc_address.py
Due: build-backend

Changed gasstation env var
  backend/config/crypto.py
  backend/core/utils/gas_station.py
Due: build-backend

Changed default BTC_COLD_XPUB_UAE to BTC_COLD_XPUB_SWISS
  backend/core/integrations/pycoin_wrapper.py
  backend/update_btc_address.py
Due: build-backend

Removed unnecessary middleware from main.py
  backend/main.py
Due: build-backend

fix
  frontend/lang/rus.js
Due: build-frontend

fix: sell pipe wallets
  frontend/assets/scss/main.sass
  frontend/components/Trade/WalletConfirm.vue
  frontend/lang/rus.js
  frontend/pages/exchange/buysell.vue
  frontend/plugins/auth.js
Due: build-frontend

fix: sell pipe
  frontend/assets/scss/button.sass
  frontend/assets/scss/helpers.sass
  frontend/components/AddNewWallet.vue
  frontend/components/Trade/BillPayment.vue
  frontend/components/Trade/CreatePayment.vue
  frontend/components/Trade/WalletConfirm.vue
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/pages/exchange/index.vue
  frontend/pages/profile/bill.vue
  frontend/pages/wallet/index.vue
Due: build-frontend

Added confirmation number to EthereumTransaction
  backend/celery_app/tasks/invoices/sell_pipeline.py
  backend/core/integrations/ethereum/base_wrapper.py
  backend/core/integrations/ethereum/contract_events_wrapper.py
  backend/schemas/eth_transaction.py
Due: build-backend

favicon fix
  frontend/nuxt.config.js
Due: build-frontend

Changed sell logic for BTC tx confirmations + optimized code
  backend/api/controllers/debug.py
  backend/api/controllers/invoice.py
  backend/api/controllers/transparency.py
  backend/celery_app/tasks/blockcypher_webhooks.py
  backend/celery_app/tasks/invoices/sell_pipeline.py
  backend/core/mechanics/invoice.py
Due: build-backend

Fixed nonce for eth transactions
  backend/core/integrations/ethereum/contract_functions_wrapper.py
Due: build-backend

Complere simba celery cron + fixed buy pipeline bug
  backend/api/controllers/debug.py
  backend/celery_app/tasks/crypto/simba/fetch_simba_transactions.py
  backend/config/crypto.py
  backend/core/integrations/ethereum/contract_functions_wrapper.py
  backend/core/mechanics/invoice.py
  backend/schemas/invoice.py
Due: build-backend

Returned _get_nonce logic
  backend/api/controllers/account.py
  backend/core/integrations/ethereum/contract_functions_wrapper.py
  backend/database/crud/user.py
Due: build-backend

Fixed address generation
  backend/core/integrations/pycoin_wrapper.py
  backend/core/mechanics/crypto/bitcoin.py
Due: build-backend

Added validation for webhook creation
  backend/core/mechanics/crypto/bitcoin.py
  backend/core/mechanics/webhook.py
Due: build-backend

eddited delete_unused_webhooks cron
  backend/api/controllers/debug.py
  backend/api/controllers/invoice.py
  backend/celery_app/tasks/blockcypher_webhooks.py
  backend/delete_webhooks.py
Due: build-backend

fixed webhook validation
  backend/core/mechanics/webhook.py
Due: build-backend

fixed sell pipeline
  backend/celery_app/tasks/invoices/sell_pipeline.py
  backend/core/mechanics/invoice.py
Due: build-backend

added fee charge for sell pipeline
  backend/core/mechanics/invoice.py
Due: build-backend

fix: sell pipe fix, wallet adding
  frontend/components/AddNewWallet.vue
  frontend/components/Trade/BillPayment.vue
  frontend/components/Trade/CreatePayment.vue
  frontend/components/Trade/SimbaRecieved.vue
  frontend/components/Trade/Status.vue
  frontend/components/Trade/WalletConfirm.vue
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/mixins/invoiceMixins.js
  frontend/store/exchange.js
  frontend/store/invoices.js
Due: build-frontend

Fixed errors
  backend/api/controllers/transparency.py
  backend/core/integrations/ethereum/contract_functions_wrapper.py
  deployment/dockerfiles/Dockerfile.backend.common
  deployment/misc/wait-for
  docker-compose.develop.yml
  docker-compose.master.yml
Due: build-backend, build-frontend

Return sleep in docker-compose command
  deployment/dockerfiles/Dockerfile.backend.common
  deployment/misc/wait-for
  docker-compose.develop.yml
  docker-compose.master.yml
Due: build-backend, build-frontend

Deleted scripts and sync_btc_wallets.py
  backend/celery_app/tasks/crypto/btc/update_addresses_info.py
  backend/core/integrations/blockcypher/main.py
  backend/delete_webhooks.py
  backend/sync_btc_wallets.py
  backend/update_btc_address.py
Due: build-backend

Fixed celeryworker dev
  docker-compose.develop.yml
Due: none

removed webhook creation in sell pipeline misc changes
  backend/api/controllers/invoice.py
  backend/celery_app/celeryconfig.py
  backend/delete_webhooks.py
Due: build-backend

Changed invoice validation in confirm endpoint
  backend/celery_app/celeryconfig.py
  backend/config/crypto.py
  backend/core/mechanics/crypto/base.py
  backend/core/mechanics/invoice.py
Due: build-backend

fixed finish_overdue_invoices cron
  backend/api/controllers/transparency.py
  backend/celery_app/tasks/invoices/finish_overdue_invoices.py
  docker-compose.master.yml
Due: build-backend

fixed finish_overdue_invoices cron #2
  backend/api/controllers/transparency.py
  backend/core/mechanics/webhook.py
Due: build-backend

added logging in cron and changed transparency logic
  backend/api/controllers/transparency.py
  backend/celery_app/tasks/crypto/btc/update_addresses_info.py
  backend/celery_app/tasks/crypto/simba/fetch_simba_transactions.py
  backend/celery_app/tasks/invoices/finish_overdue_invoices.py
  backend/schemas/transparency.py
Due: build-backend

fix: fees
  frontend/components/Trade/BillPayment.vue
  frontend/components/Trade/CreatePayment.vue
  frontend/components/Trade/SimbaRecieved.vue
  frontend/components/Trade/Status.vue
Due: build-frontend

fix: bugfix
  frontend/components/AddNewWallet.vue
  frontend/components/ProfileUpdate.vue
  frontend/components/Trade/BillPayment.vue
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/pages/exchange/index.vue
  frontend/pages/profile/data.vue
  frontend/pages/wallet/index.vue
  frontend/store/contract.js
  frontend/store/index.js
Due: build-frontend

added admin users and admin invoices endpoints
  backend/api/controllers/account.py
  backend/api/controllers/admin/__init__.py
  backend/api/controllers/admin/invoice.py
  backend/api/controllers/admin/users.py
  backend/api/controllers/invoice.py
  backend/api/routes.py
  backend/main.py
Due: build-backend

Fixed gasstation vulnerability and fixed ratio validation
  backend/api/controllers/debug.py
  backend/api/controllers/invoice.py
  backend/config/crypto.py
  backend/core/mechanics/crypto/base.py
  backend/core/mechanics/crypto/simba.py
  backend/core/mechanics/invoice.py
  backend/core/utils/gas_station.py
Due: build-backend

Add mailgun to project
  backend/config/email.py
  backend/core/utils/email.py
  backend/database/crud/user.py
Due: build-backend

Finished transparency and misc changes
  backend/api/controllers/debug.py
  backend/api/controllers/transparency.py
  backend/celery_app/celeryconfig.py
  backend/celery_app/tasks/crypto/btc/__init__.py
  backend/celery_app/tasks/crypto/btc/update_addresses_info.py
  backend/config/crypto.py
  backend/core/integrations/blockcypher/main.py
  backend/core/integrations/ethereum/base_wrapper.py
  backend/core/mechanics/crypto/sst.py
  backend/core/mechanics/invoice.py
  backend/core/mechanics/webhook.py
  backend/database/crud/base.py
  backend/sync_btc_wallets.py
Due: build-backend

Remove debug
  backend/core/utils/email.py
Due: build-backend

fixed fetch_and_proceed_simba_contract cron
  backend/api/controllers/debug.py
  backend/celery_app/celeryconfig.py
  backend/celery_app/tasks/crypto/simba/fetch_simba_transactions.py
Due: build-backend

fixing pipelines
  backend/celery_app/celeryconfig.py
  backend/core/mechanics/crypto/base.py
  backend/core/mechanics/crypto/bitcoin.py
  backend/core/mechanics/invoice.py
Due: build-backend

temp validation bypass
  backend/core/mechanics/crypto/base.py
Due: build-backend

Path conditions:
  build-backend: any of: backend/**/*, deployment/dockerfiles/*
  build-frontend: any of: frontend/**/*, deployment/dockerfiles/*
