Repository amosov00/simba: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend

.gitlab-ci.yml:

image: docker:stable
services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

.rules_backend:
  rules: &rules_backend
    - if: "$CI_COMMIT_REF_NAME == 'master' || $CI_COMMIT_REF_NAME == 'develop'"
      changes:
        - "backend/**/*"
        - "deployment/dockerfiles/*"

.rules_frontend:
  rules: &rules_frontend
    - if: "$CI_COMMIT_REF_NAME == 'master' || $CI_COMMIT_REF_NAME == 'develop'"
      changes:
        - "frontend/**/*"
        - "deployment/dockerfiles/*"

.ssh_helper: &ssh_helper
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client git -y )'
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts

before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY

after_script:
  - docker logout $CI_REGISTRY

stages:
  - build
  - deploy

build-backend:
  stage: build
  variables:
    CONTAINER_NAME: 'backend'
    DOCKERFILE_PATH: './deployment/dockerfiles/Dockerfile.backend.common'
  script:
    - docker build --pull -t "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest" . -f $DOCKERFILE_PATH --no-cache
    - docker push "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest"
  rules: *rules_backend


build-frontend:
  stage: build
  variables:
    CONTAINER_NAME: 'frontend'
    DOCKERFILE_PATH: './deployment/dockerfiles/Dockerfile.frontend.$CI_COMMIT_REF_SLUG'
  script:
    - docker build --pull -t "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest" . -f $DOCKERFILE_PATH --no-cache
    - docker push "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest"
  rules: *rules_frontend

deploy-develop:
  stage: deploy
  environment:
    name: develop
  only:
    - develop
  script:
    - sh ./deployment/scripts/test-env.sh
    - *ssh_helper
    - sh ./deployment/scripts/proceed-env.sh
    - sh ./deployment/scripts/deploy.sh

deploy-production:
  stage: deploy
  environment:
    name: production
  only:
    - master
  script:
    - sh ./deployment/scripts/test-env.sh
    - *ssh_helper
    - sh ./deployment/scripts/proceed-env.sh
    - sh ./deployment/scripts/deploy.sh

fix: pipeline for buying simba
  frontend/components/Trade/Final.vue
  frontend/components/Trade/Status.vue
Due: build-frontend

WIP
  frontend/components/AddNewWallet.vue
  frontend/components/Login2FA.vue
  frontend/nuxt.config.js
  frontend/pages/index.vue
  frontend/pages/profile/bill.vue
  frontend/plugins/auth.js
  frontend/store/invoices.js
Due: build-frontend

favicon path fix
  frontend/nuxt.config.js
Due: build-frontend

add 2fa login confirmation modal
  frontend/components/Login2FA.vue
  frontend/pages/index.vue
  frontend/store/index.js
Due: build-frontend

fix: rework, bugfix, localization
  frontend/assets/scss/main.sass
  frontend/components/ProfileUpdate.vue
  frontend/components/Trade/Status.vue
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/nuxt.config.js
  frontend/pages/forgot.vue
  frontend/pages/index.vue
  frontend/pages/profile/bill.vue
  frontend/pages/profile/data.vue
  frontend/pages/register/index.vue
  frontend/store/index.js
  rundev-front.sh
Due: build-frontend

fix: profile localization
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/pages/profile/partner.vue
Due: build-frontend

add 2fa btc address add/remove confirmation
  frontend/components/AddNewWallet.vue
  frontend/pages/profile/bill.vue
  frontend/store/index.js
Due: build-frontend

fixes
  frontend/components/AddNewWallet.vue
  frontend/pages/index.vue
  frontend/pages/profile/bill.vue
Due: build-frontend

add eth address signature
  frontend/components/AddNewWallet.vue
  frontend/store/index.js
  frontend/store/metamask.js
Due: build-frontend

Fix Bitcoin field
  backend/api/controllers/account.py
  backend/schemas/user.py
Due: build-backend

Buy pipeline WIP
  backend/api/controllers/debug.py
  backend/api/controllers/invoice.py
  backend/celery_app/tasks/crypto/__init__.py
  backend/celery_app/tasks/crypto/eth/fetch_simba_transaction.py
  backend/celery_app/tasks/crypto/simba/__init__.py
  backend/celery_app/tasks/crypto/simba/fetch_simba_transaction.py
  backend/core/integrations/ethereum/contract_events_wrapper.py
  backend/core/mechanics/invoice.py
  backend/database/crud/invoice.py
  backend/schemas/eth_transaction.py
  backend/schemas/user.py
Due: build-backend

feat(pipeline): agreemeent on creating invoice
  frontend/assets/scss/main.sass
  frontend/components/Trade/CreatePayment.vue
  frontend/pages/profile/change-password.vue
Due: build-frontend

Changed btc address generation mechanics
  backend/api/controllers/invoice.py
  backend/config/crypto.py
  backend/core/integrations/__init__.py
  backend/core/integrations/pycoin_wrapper.py
  backend/core/mechanics/crypto/bitcoin.py
  backend/database/crud/btc_address.py
  backend/database/crud/invoice.py
  backend/schemas/btc_address.py
Due: build-backend

rework, bugfix
  frontend/assets/scss/main.sass
  frontend/components/AddNewWallet.vue
  frontend/components/Header.vue
  frontend/components/HeaderBalance.vue
  frontend/components/Trade/Status.vue
  frontend/components/WalletTable.vue
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/pages/activate/index.vue
  frontend/pages/profile/bill.vue
  frontend/pages/profile/data.vue
  frontend/pages/profile/partner.vue
  frontend/pages/recover.vue
  frontend/pages/wallet/index.vue
  frontend/plugins/auth.js
  frontend/store/contract.js
  frontend/store/index.js
  frontend/store/metamask.js
Due: build-frontend

feat: last bills status, localizations, bugfix
  frontend/components/CopyToClipboard.vue
  frontend/components/Trade/BillPayment.vue
  frontend/components/Trade/Status.vue
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/layouts/main.vue
  frontend/layouts/profile.vue
  frontend/pages/exchange/index.vue
  frontend/pages/profile/2fa.vue
  frontend/store/invoices.js
Due: build-frontend

Add Gas station
  backend/config/crypto.py
  backend/core/integrations/ethereum/contract_functions_wrapper.py
Due: build-backend

rework: fix login with/without pincode, address signature pulling on pipeline
  frontend/components/Login2FA.vue
  frontend/components/Trade/WalletConfirm.vue
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/pages/index.vue
Due: build-frontend

Add Gas station
  backend/core/integrations/ethereum/contract_functions_wrapper.py
Due: build-backend

fix: auth logout, errors, visual bugs
  frontend/assets/scss/main.sass
  frontend/components/ProfileDropdown.vue
  frontend/pages/index.vue
  frontend/pages/profile/data.vue
  frontend/plugins/auth.js
Due: build-frontend

Added validation for buy and sell invoice
  backend/core/mechanics/invoice.py
Due: build-backend

Raised time for startup celeryworker and celerybeat
  docker-compose.master.yml
Due: none

Add Gas station
  backend/core/integrations/ethereum/contract_functions_wrapper.py
  backend/core/utils/__init__.py
  backend/core/utils/gas_station.py
Due: build-backend

Add Gas station
  backend/config/crypto.py
  backend/core/integrations/ethereum/contract_functions_wrapper.py
  backend/core/utils/gas_station.py
Due: build-backend

Add Gas station
  backend/core/integrations/ethereum/contract_functions_wrapper.py
  backend/core/mechanics/crypto/simba.py
Due: build-backend

Buy pipeline to processing status
  backend/api/controllers/meta.py
  backend/celery_app/celeryconfig.py
  backend/celery_app/tasks/blockcypher_webhooks.py
  backend/celery_app/tasks/crypto/simba/fetch_simba_transaction.py
Due: build-backend

Fixed import
  backend/api/controllers/debug.py
Due: build-backend

Completed sell pipeline
  backend/api/controllers/debug.py
  backend/celery_app/tasks/__init__.py
  backend/celery_app/tasks/invoices/__init__.py
  backend/celery_app/tasks/invoices/finish_overdue_invoices.py
  backend/celery_app/tasks/invoices/sell_pipeline.py
  backend/core/integrations/ethereum/base_wrapper.py
  backend/core/integrations/ethereum/contract_functions_wrapper.py
  backend/core/mechanics/crypto/base.py
  backend/core/mechanics/crypto/bitcoin.py
  backend/core/mechanics/crypto/simba.py
  backend/core/mechanics/crypto/sst.py
  backend/core/mechanics/invoice.py
  backend/core/utils/gas_station.py
  backend/database/crud/btc_address.py
  backend/schemas/btc_address.py
  backend/schemas/btc_transaction.py
  backend/schemas/invoice.py
  backend/schemas/user.py
Due: build-backend

Added fetch SST contract txs cronjob
  backend/api/controllers/debug.py
  backend/celery_app/celeryconfig.py
  backend/celery_app/tasks/__init__.py
  backend/celery_app/tasks/crypto/simba/__init__.py
  backend/celery_app/tasks/crypto/simba/fetch_simba_transactions.py
  backend/celery_app/tasks/crypto/sst/__init__.py
  backend/celery_app/tasks/crypto/sst/fetch_sst_transactions.py
  backend/celery_app/tasks/invoices/sell_pipeline.py
  backend/core/integrations/ethereum/base_wrapper.py
  backend/core/integrations/ethereum/contract_events_wrapper.py
  backend/core/mechanics/invoice.py
  backend/database/crud/eth_transaction.py
  backend/schemas/eth_transaction.py
Due: build-backend

Fix bug in fetching btc tx in sell pipeline
  backend/api/controllers/debug.py
  backend/core/mechanics/crypto/bitcoin.py
  backend/core/mechanics/invoice.py
Due: build-backend

Added update_empty_btc_addresses_info cron + misc changes
  backend/api/controllers/debug.py
  backend/celery_app/celeryconfig.py
  backend/celery_app/tasks/crypto/btc/__init__.py
  backend/celery_app/tasks/crypto/btc/fetch_invoices_proceed_status.py
  backend/celery_app/tasks/crypto/btc/update_addresses_info.py
  backend/core/integrations/blockcypher/main.py
  backend/core/integrations/pycoin_wrapper.py
  backend/core/mechanics/crypto/bitcoin.py
  backend/schemas/btc_address.py
Due: build-backend

Misc fixes
  backend/core/mechanics/invoice.py
  backend/schemas/user.py
Due: build-backend

Changed web3 fetch events logic to bypass infura error
  backend/core/integrations/ethereum/contract_events_wrapper.py
Due: build-backend

Fixed finish_overdue_invoices cron, reformatted and renamed other crons
  backend/api/controllers/debug.py
  backend/celery_app/tasks/blockcypher_webhooks.py
  backend/celery_app/tasks/crypto/btc/update_addresses_info.py
  backend/celery_app/tasks/crypto/simba/fetch_simba_transactions.py
  backend/celery_app/tasks/crypto/sst/__init__.py
  backend/celery_app/tasks/crypto/sst/fetch_sst_transactions.py
  backend/celery_app/tasks/invoices/finish_overdue_invoices.py
  backend/celery_app/tasks/invoices/sell_pipeline.py
  backend/core/integrations/ethereum/contract_events_wrapper.py
Due: build-backend

feat: sell pipeline rework
  frontend/components/Trade/BillPayment.vue
  frontend/components/Trade/BtcSent.vue
  frontend/components/Trade/CreatePayment.vue
  frontend/components/Trade/Final.vue
  frontend/components/Trade/SimbaRecieved.vue
  frontend/components/Trade/Status.vue
  frontend/components/Trade/WalletConfirm.vue
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/pages/exchange/buysell.vue
  frontend/pages/exchange/index.vue
  frontend/store/exchange.js
  frontend/store/invoices.js
Due: build-frontend

fix: sell pipe bugfix, web3 btn
  frontend/components/Trade/BillPayment.vue
  frontend/components/Trade/Final.vue
  frontend/components/Trade/WalletConfirm.vue
  frontend/lang/eng.js
  frontend/lang/rus.js
Due: build-frontend

feat: localization
  frontend/components/Trade/BillPayment.vue
  frontend/components/Trade/Final.vue
  frontend/lang/eng.js
  frontend/lang/rus.js
Due: build-frontend
