Repository amosov00/simba: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend

.gitlab-ci.yml:

image: docker:stable
services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

.rules_backend:
  rules: &rules_backend
    - if: "$CI_COMMIT_REF_NAME == 'master' || $CI_COMMIT_REF_NAME == 'develop'"
      changes:
        - "backend/**/*"
        - "deployment/dockerfiles/*"

.rules_frontend:
  rules: &rules_frontend
    - if: "$CI_COMMIT_REF_NAME == 'master' || $CI_COMMIT_REF_NAME == 'develop'"
      changes:
        - "frontend/**/*"
        - "deployment/dockerfiles/*"

.ssh_helper: &ssh_helper
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client git -y )'
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts

before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY

after_script:
  - docker logout $CI_REGISTRY

stages:
  - build
  - deploy

build-backend:
  stage: build
  variables:
    CONTAINER_NAME: 'backend'
    DOCKERFILE_PATH: './deployment/dockerfiles/Dockerfile.backend.common'
  script:
    - docker build --pull -t "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest" . -f $DOCKERFILE_PATH --no-cache
    - docker push "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest"
  rules: *rules_backend


build-frontend:
  stage: build
  variables:
    CONTAINER_NAME: 'frontend'
    DOCKERFILE_PATH: './deployment/dockerfiles/Dockerfile.frontend.$CI_COMMIT_REF_SLUG'
  script:
    - docker build --pull -t "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest" . -f $DOCKERFILE_PATH --no-cache
    - docker push "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest"
  rules: *rules_frontend

deploy-develop:
  stage: deploy
  environment:
    name: develop
  only:
    - develop
  script:
    - sh ./deployment/scripts/test-env.sh
    - *ssh_helper
    - sh ./deployment/scripts/proceed-env.sh
    - sh ./deployment/scripts/deploy.sh

deploy-production:
  stage: deploy
  environment:
    name: production
  only:
    - master
  script:
    - sh ./deployment/scripts/test-env.sh
    - *ssh_helper
    - sh ./deployment/scripts/proceed-env.sh
    - sh ./deployment/scripts/deploy.sh

add currency formating
  frontend/components/Trade/BillPayment.vue
Due: build-frontend

minor improves
  frontend/pages/transparency/index.vue
Due: build-frontend

add quarantined value
  frontend/pages/transparency/index.vue
Due: build-frontend

Delete account/btc-address endpoint + added updating invoice with tx
  backend/api/controllers/account.py
  backend/api/controllers/debug.py
  backend/core/mechanics/crypto/bitcoin.py
  backend/core/mechanics/invoice.py
  backend/schemas/invoice.py
Due: build-backend

Added btc_amount and simba_amount fields to InvoiceCreate
  backend/schemas/invoice.py
Due: build-backend

Changed frontend development enviroment name
  deployment/dockerfiles/Dockerfile.frontend.develop
  deployment/dockerfiles/Dockerfile.frontend.local
Due: build-backend, build-frontend

Add ether address mapping to user account
  backend/api/controllers/invoice.py
  backend/database/crud/invoice.py
Due: build-backend

fix bitcoin address from backend
  frontend/components/Trade/BillPayment.vue
  frontend/store/index.js
  frontend/store/invoices.js
Due: build-frontend

create balance toggler
  frontend/assets/images/bitcoin-min.svg
  frontend/assets/images/tether.svg
  frontend/components/Header.vue
Due: build-frontend

Misc changes
  backend/api/controllers/account.py
  backend/api/controllers/debug.py
  backend/api/controllers/invoice.py
  backend/celery_app/tasks/crypto/eth/fetch_simba_transaction.py
  backend/core/integrations/ethereum/common_wrapper.py
  backend/core/integrations/ethereum/contract_events_wrapper.py
  backend/database/crud/invoice.py
  backend/schemas/invoice.py
Due: build-backend

fix/rework
  frontend/components/ProfileDropdown.vue
  frontend/components/Trade/BillPayment.vue
Due: build-frontend

Fix sending sst to referrals
  backend/database/crud/referral.py
Due: build-backend

Fix sending sst to referrals
  backend/core/mechanics/crypto/sst.py
Due: build-backend

fix
  frontend/components/Footer.vue
  frontend/nuxt.config.js
  frontend/static/logo-lg.png
Due: build-frontend

fill about page content
  frontend/pages/about.vue
Due: build-frontend

update dictionary
  frontend/lang/eng.js
  frontend/lang/rus.js
Due: build-frontend

delete transparency page | instead of that add redirect on simba landing transparency page
  frontend/components/Header.vue
  frontend/pages/transparency/btc-paid-out.vue
  frontend/pages/transparency/btc-recieved.vue
  frontend/pages/transparency/index.vue
Due: build-frontend

round sst tokens to send
  backend/core/mechanics/crypto/sst.py
Due: build-backend

rework: buy-pipeline
  frontend/components/ProfileDropdown.vue
  frontend/components/Trade/BillPayment.vue
  frontend/components/Trade/CreatePayment.vue
  frontend/components/Trade/Final.vue
  frontend/components/Trade/Status.vue
  frontend/components/Trade/WalletConfirm.vue
  frontend/pages/exchange/buysell.vue
  frontend/store/exchange.js
Due: build-frontend

logo update
  frontend/assets/images/SIMBA.svg
  frontend/components/Header.vue
Due: build-frontend

feat: qrcode for pipeline
  frontend/components/AddressQRCode.vue
  frontend/components/Countdown.vue
  frontend/components/Trade/BillPayment.vue
  frontend/components/TradeQRCode.vue
Due: build-frontend

changed Invoice eth_txs to eth_tx_hashes and misc changes
  backend/celery_app/celeryconfig.py
  backend/celery_app/tasks/invoice.py
  backend/core/integrations/ethereum/contract_functions_wrapper.py
  backend/core/mechanics/crypto/sst.py
  backend/core/mechanics/invoice.py
  backend/schemas/invoice.py
Due: build-backend

changed Invoice eth_txs to eth_tx_hashes at frontend
  backend/core/mechanics/invoice.py
  frontend/components/Trade/Status.vue
  frontend/pages/exchange/buysell.vue
Due: build-backend, build-frontend

increased nonce to sst generation
  backend/core/integrations/ethereum/contract_functions_wrapper.py
Due: build-backend

Fixed nonce for simba and sst transactions, added wait interval
  backend/api/controllers/debug.py
  backend/celery_app/tasks/crypto/__init__.py
  backend/celery_app/tasks/crypto/eth/fetch_simba_transaction.py
  backend/celery_app/tasks/crypto/sst/__init__.py
  backend/core/integrations/ethereum/contract_functions_wrapper.py
  backend/core/mechanics/crypto/sst.py
Due: build-backend

Added additional wait interval
  backend/core/mechanics/crypto/sst.py
Due: build-backend

Hotfix
  backend/api/controllers/account.py
  backend/celery_app/tasks/crypto/sst/__init__.py
Due: build-backend

Added eth address validation in /account/ and in invoice confirmation
  backend/api/controllers/account.py
  backend/api/controllers/invoice.py
  backend/core/utils/exception_handler.py
  backend/database/crud/base.py
  backend/schemas/base.py
  backend/schemas/invoice.py
  backend/schemas/user.py
Due: build-backend

returned CELERY_MONGO_DATABASE_URL
  backend/celery_app/celeryconfig.py
Due: build-backend

removed approve func in issue simba tokens
  backend/core/integrations/ethereum/contract_functions_wrapper.py
Due: build-backend

Btc logic rework
  backend/api/controllers/account.py
  backend/schemas/user.py
Due: build-backend

improve balance selector | replace into own component, add icons color state
  frontend/assets/images/bitcoin-min-disabled.svg
  frontend/assets/images/tether-disabled.svg
  frontend/assets/images/tether.svg
  frontend/components/Header.vue
  frontend/components/HeaderBalance.vue
  frontend/mixins/formatCurrency.js
Due: build-frontend

Hide referral id if eth is empty
  backend/api/controllers/account.py
Due: build-backend

Fix validations in login
  backend/database/crud/user.py
Due: build-backend

rework: add localizations for messages etc
  frontend/assets/scss/main.sass
  frontend/components/Header.vue
  frontend/components/Modal2FA.vue
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/layouts/profile.vue
  frontend/pages/about.vue
  frontend/pages/profile/2fa.vue
  frontend/pages/profile/change-password.vue
  frontend/pages/profile/data.vue
  frontend/pages/profile/partner.vue
  frontend/plugins/i18n.js
  frontend/plugins/vee-validate.js
  frontend/store/index.js
Due: build-frontend

fix: pipeline for buying simba
  frontend/components/Trade/Final.vue
  frontend/components/Trade/Status.vue
Due: build-frontend
