Repository amosov00/simba: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend

.gitlab-ci.yml:

image: docker:stable
services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

.rules_backend:
  rules: &rules_backend
    - if: "$CI_COMMIT_REF_NAME == 'master' || $CI_COMMIT_REF_NAME == 'develop'"
      changes:
        - "backend/**/*"
        - "deployment/dockerfiles/*"

.rules_frontend:
  rules: &rules_frontend
    - if: "$CI_COMMIT_REF_NAME == 'master' || $CI_COMMIT_REF_NAME == 'develop'"
      changes:
        - "frontend/**/*"
        - "deployment/dockerfiles/*"

.ssh_helper: &ssh_helper
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client git -y )'
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts

before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY

after_script:
  - docker logout $CI_REGISTRY

stages:
  - build
  - deploy

build-backend:
  stage: build
  variables:
    CONTAINER_NAME: 'backend'
    DOCKERFILE_PATH: './deployment/dockerfiles/Dockerfile.backend.common'
  script:
    - docker build --pull -t "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest" . -f $DOCKERFILE_PATH --no-cache
    - docker push "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest"
  rules: *rules_backend


build-frontend:
  stage: build
  variables:
    CONTAINER_NAME: 'frontend'
    DOCKERFILE_PATH: './deployment/dockerfiles/Dockerfile.frontend.$CI_COMMIT_REF_SLUG'
  script:
    - docker build --pull -t "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest" . -f $DOCKERFILE_PATH --no-cache
    - docker push "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest"
  rules: *rules_frontend

deploy-develop:
  stage: deploy
  environment:
    name: develop
  only:
    - develop
  script:
    - sh ./deployment/scripts/test-env.sh
    - *ssh_helper
    - sh ./deployment/scripts/proceed-env.sh
    - sh ./deployment/scripts/deploy.sh

deploy-production:
  stage: deploy
  environment:
    name: production
  only:
    - master
  script:
    - sh ./deployment/scripts/test-env.sh
    - *ssh_helper
    - sh ./deployment/scripts/proceed-env.sh
    - sh ./deployment/scripts/deploy.sh

removed single scripts
  backend/add_old_btc_txs.py
  backend/delete_webhooks.py
  backend/sync_btc_wallets.py
  backend/txs_data.json
Due: build-backend

WIP multisig
  backend/api/controllers/admin/invoice.py
  backend/api/controllers/debug.py
  backend/config/crypto.py
  backend/core/integrations/blockcypher/main.py
  backend/core/mechanics/crypto/bitcoin.py
  backend/core/mechanics/invoice.py
  frontend/components/ModalBitcore.vue
  frontend/package.json
  frontend/pages/manage-payouts/index.vue
  frontend/plugins/bitcoreFunctions.js
  frontend/yarn.lock
Due: build-backend, build-frontend

feat: modal bitcore + btn
  frontend/components/InvoiceModal.vue
  frontend/components/ModalBitcore.vue
  frontend/pages/manage-payouts/index.vue
Due: build-frontend

fix: removed unused
  frontend/components/InvoiceModal.vue
Due: build-frontend

Multisig WIP
  backend/core/mechanics/invoice.py
  frontend/components/Header.vue
  frontend/components/ModalBitcore.vue
  frontend/pages/manage-payouts/index.vue
  frontend/plugins/bitcoreFunctions.js
Due: build-backend, build-frontend

added nodejs backend, remade frontend logic, added backennd endpoints
  backend-nodejs/app.js
  backend-nodejs/controllers/api/multisig.js
  backend-nodejs/package.json
  backend-nodejs/yarn.lock
  backend/api/controllers/admin/invoice.py
  backend/api/controllers/debug.py
  backend/core/integrations/__init__.py
  backend/core/integrations/blockcypher/main.py
  backend/core/integrations/simba_nodejs.py
  backend/core/mechanics/crypto/bitcoin.py
  backend/core/mechanics/invoice.py
  deployment/dockerfiles/Dockerfile.backend-nodejs.common
  deployment/dockerfiles/Dockerfile.backend-nodejs.local
  deployment/scripts/deploy.sh
  deployment/scripts/proceed-env.sh
  deployment/scripts/test-env.sh
  docker-compose.develop.yml
  docker-compose.master.yml
  docker-compose.yml
  frontend/components/ModalBitcore.vue
  frontend/package.json
  frontend/pages/manage-payouts/index.vue
  frontend/plugins/bitcoreFunctions.js
  rundev-front.sh
Due: build-backend, build-frontend

updated ci pipeline
  .gitlab-ci.yml
Due: none

fixed url
  frontend/components/ModalBitcore.vue
Due: build-frontend

improved ModalBitcore responsiveness
  frontend/components/ModalBitcore.vue
  frontend/store/invoices.js
Due: build-frontend

feat: referals amount
  frontend/mixins/invoiceMixins.js
  frontend/package.json
  frontend/pages/profile/partner.vue
  frontend/store/index.js
  frontend/yarn.lock
  rundev-front-2.sh
Due: build-frontend

fix: highlight SST address for admins, bugfix
  frontend/pages/invoices/index.vue
  frontend/pages/profile/partner.vue
  frontend/pages/users/_id.vue
Due: build-frontend

fix: sst hashes fix
  frontend/pages/invoices/_id.vue
Due: build-frontend

Increased MAX_GAS_PRICE_GWEI to 110
  backend/config/crypto.py
Due: build-backend

Added referrals to admin user and xpub_preview to xpub cards
  backend/api/controllers/admin/users.py
  backend/core/integrations/pycoin_wrapper.py
  backend/core/mechanics/referrals.py
  backend/schemas/btc_xpub.py
  backend/schemas/user.py
  frontend/pages/xpub/index.vue
  rundev-back.sh
  rundev-front-2.sh
  rundev-front.sh
Due: build-backend, build-frontend

change CI rules
  .gitlab-ci.yml
Due: none

Increased MAX_GAS_PRICE_GWEI
  backend/config/crypto.py
Due: build-backend

added conf to backend express and changed SENTRY_DSN
  backend-nodejs/app.js
  backend-nodejs/config.js
  backend/config/sentry.py
  deployment/dockerfiles/Dockerfile.frontend.develop
  deployment/dockerfiles/Dockerfile.frontend.master
Due: build-backend, build-frontend

hotfix
  backend/config/__init__.py
Due: build-backend

nodejs config hotfix
  backend-nodejs/app.js
  backend-nodejs/config.js
Due: none

fixed create_and_sign_transaction func
  backend/core/mechanics/crypto/bitcoin.py
Due: build-backend

hotfix get random active xpub
  backend/core/integrations/pycoin_wrapper.py
Due: build-backend

fix typo
  frontend/lang/eng.js
Due: build-frontend

fix confirmation counts
  frontend/components/Trade/SimbaRecieved.vue
  frontend/components/Trade/Status.vue
  frontend/package-lock.json
  frontend/yarn.lock
Due: build-frontend

tasks: "ссылка redeem", "реф партнеры в инфе о пользователе", ""
  backend/api/controllers/debug.py
  backend/celery_app/tasks/invoices/sell_pipeline.py
  backend/core/mechanics/crypto/simba.py
  backend/core/mechanics/crypto/sst.py
  backend/core/utils/email.py
  backend/database/crud/user.py
  backend/requirements.txt
  backend/templates/recover.html
  backend/templates/support-btc-warning.html
  backend/templates/support-eth.html
  backend/templates/verification.html
  frontend/components/Trade/Final.vue
  frontend/pages/exchange/buysell.vue
  frontend/pages/users/_id.vue
  frontend/store/exchange.js
  rundev-front.sh
Due: build-backend, build-frontend

added xpub analyzer cron, changed transparency logic
  backend/api/controllers/transparency.py
  backend/celery_app/celeryconfig.py
  backend/celery_app/tasks/crypto/btc/__init__.py
  backend/celery_app/tasks/crypto/btc/update_empty_wallets_info.py
  backend/celery_app/tasks/crypto/btc/update_wallets_info.py
  backend/core/integrations/pycoin_wrapper.py
  backend/core/mechanics/__init__.py
  backend/core/mechanics/crypto/bitcoin.py
  backend/core/mechanics/transparency.py
  backend/database/crud/btc_address.py
  rundev-back.sh
Due: build-backend

updated celery app wrappers, added wallet update on invoice complete
  backend/celery_app/tasks/blockcypher_webhooks.py
  backend/celery_app/tasks/crypto/btc/update_empty_wallets_info.py
  backend/celery_app/tasks/crypto/btc/update_wallet_info.py
  backend/celery_app/tasks/crypto/btc/update_wallets_info.py
  backend/celery_app/tasks/crypto/simba/fetch_simba_transactions.py
  backend/celery_app/tasks/crypto/sst/fetch_sst_transactions.py
  backend/celery_app/tasks/debug.py
  backend/celery_app/tasks/debug_cronjobs.py
  backend/celery_app/tasks/invoices/finish_overdue_invoices.py
  backend/celery_app/tasks/invoices/rescue_stucked_invoices.py
  backend/celery_app/tasks/invoices/sell_pipeline.py
  backend/core/mechanics/invoice.py
Due: build-backend

wallet WIP
  backend/api/dependencies.py
  backend/commands.py
  backend/core/mechanics/crypto/simba.py
  backend/database/crud/base.py
  backend/database/crud/user.py
  backend/database/db_events.py
  backend/database/init.py
  backend/delete_dublicates.py
  backend/main.py
Due: build-backend

changed SENTRY_DNS to SENTRY_DSN
  backend/config/sentry.py
Due: build-backend

hotfix cron
  backend/core/integrations/ethereum/base_wrapper.py
Due: build-backend

misc changes
  backend/api/controllers/admin/meta.py
  backend/api/controllers/meta.py
  backend/database/db_events.py
Due: build-backend

added blacklisted balance cron
  backend/celery_app/celeryconfig.py
  backend/celery_app/tasks/crypto/simba/__init__.py
  backend/celery_app/tasks/crypto/simba/fetch_simba_transactions.py
  backend/celery_app/tasks/crypto/simba/update_blacklisted_balance.py
  backend/config/crypto.py
  backend/core/integrations/ethereum/contract_functions_wrapper.py
  backend/core/mechanics/crypto/simba.py
  backend/core/mechanics/transparency.py
  backend/core/utils/etherscan_gas_tracker.py
  backend/core/utils/gas_station.py
  backend/schemas/eth_transaction.py
  backend/schemas/meta.py
Due: build-backend

added etherscan gasprice api
  backend/core/integrations/ethereum/base_wrapper.py
  backend/core/integrations/ethereum/contract_functions_wrapper.py
  backend/core/utils/__init__.py
  backend/core/utils/etherscan_gas_tracker_wrapper.py
  backend/core/utils/gas_station.py
  backend/core/utils/gas_station_wrapper.py
Due: build-backend

fixed cron
  backend/celery_app/tasks/crypto/simba/update_blacklisted_balance.py
  backend/config/crypto.py
  backend/core/mechanics/transparency.py
Due: build-backend

added PAID status, rescue cron and updated admin invoice table
  backend/api/controllers/admin/invoice.py
  backend/celery_app/celeryconfig.py
  backend/celery_app/tasks/invoices/__init__.py
  backend/celery_app/tasks/invoices/rescue_stucked_invoices.py
  backend/core/mechanics/invoice.py
  backend/core/utils/email.py
  backend/database/crud/invoice.py
  backend/schemas/invoice.py
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/pages/invoices/index.vue
  frontend/store/invoices.js
  rundev-front.sh
Due: build-backend, build-frontend

fixed front txs
  backend/database/crud/invoice.py
  frontend/components/Trade/Final.vue
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/pages/exchange/buysell.vue
  frontend/pages/invoices/index.vue
Due: build-backend, build-frontend

Changed email title
  backend/core/utils/email.py
Due: build-backend

optimized transparency
  backend/api/controllers/transparency.py
  backend/core/integrations/ethereum/__init__.py
  backend/core/integrations/ethereum/common_wrapper.py
  backend/core/mechanics/transparency.py
  backend/core/utils/json.py
Due: build-backend

added double check contracts txs
  backend/celery_app/celeryconfig.py
  backend/celery_app/tasks/crypto/__init__.py
  backend/celery_app/tasks/crypto/double_check_contracts.py
  backend/core/integrations/ethereum/base_wrapper.py
  backend/core/integrations/ethereum/contract_events_wrapper.py
  backend/database/crud/eth_transaction.py
Due: build-backend

fixed cron
  backend/celery_app/tasks/crypto/double_check_contracts.py
Due: build-backend

fixed gasprice
  backend/core/integrations/ethereum/base_wrapper.py
  backend/core/utils/etherscan_gas_tracker_wrapper.py
Due: build-backend
