Repository amosov00/simba: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-backend-nodejs, build-frontend

build-backend:
  stage: build
  variables:
    CONTAINER_NAME: backend
    DOCKERFILE_PATH: ./deployment/dockerfiles/Dockerfile.backend.common
  script:
  - docker build --pull -t "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest" . -f $DOCKERFILE_PATH --no-cache
  ...

build-backend-nodejs:
  stage: build
  variables:
    CONTAINER_NAME: backend-nodejs
    DOCKERFILE_PATH: ./deployment/dockerfiles/Dockerfile.backend-nodejs.common
  script:
  - docker build --pull -t "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest" . -f $DOCKERFILE_PATH --no-cache
  ...

build-frontend:
  stage: build
  variables:
    CONTAINER_NAME: frontend
    DOCKERFILE_PATH: ./deployment/dockerfiles/Dockerfile.frontend.$CI_COMMIT_REF_SLUG
  script:
  - docker build --pull -t "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest" . -f $DOCKERFILE_PATH --no-cache
  ...

clean code and rebase axios-requests to vuex-module
  frontend/pages/profile/verification.vue
  frontend/store/sumsub.js
Due: build-frontend

invoice verification limit WIP
  backend/api/controllers/account.py
  backend/api/controllers/debug.py
  backend/config/app_settings.py
  backend/core/integrations/bitcoin/price.py
  backend/core/mechanics/invoices/mechanics.py
  backend/core/mechanics/user_kyc.py
  backend/schemas/invoice.py
  backend/schemas/user_kyc.py
  backend/tests/__init__.py
  backend/workers/agents/__init__.py
  backend/workers/agents/crypto/btc/__init__.py
  backend/workers/agents/crypto/btc/currency_rate.py
  frontend/components/StartVerify.vue
  frontend/pages/profile/verification.vue
  frontend/store/index.js
Due: build-backend, build-backend-nodejs, build-frontend

final of the feat
  frontend/components/StartVerify.vue
  frontend/nuxt.config.js
  frontend/pages/profile/verification.vue
  rundev-front.2.sh
Due: build-frontend

finished KYC refactor and invoice verification limits
  backend/api/controllers/admin/users.py
  backend/core/mechanics/invoices/base.py
  backend/core/mechanics/invoices/mechanics.py
  backend/core/mechanics/invoices/validation.py
  backend/database/crud/invoice.py
  backend/workers/agents/crypto/btc/currency_rate.py
  frontend/consts/index.js
  frontend/consts/invoice.js
  frontend/pages/register/index.vue
Due: build-backend, build-backend-nodejs, build-frontend

misc fixes
  deployment/dockerfiles/Dockerfile.frontend.develop
  deployment/dockerfiles/Dockerfile.frontend.master
  frontend/pages/profile/verification.vue
  frontend/store/sumsub.js
  rundev-front.sh
Due: build-backend, build-backend-nodejs, build-frontend

misc fixes
  backend/workers/crons.py
  frontend/components/Header.vue
  frontend/components/HeaderBalance.vue
  frontend/mixins/formatCurrency.js
Due: build-backend, build-backend-nodejs, build-frontend

added currency endpoint
  backend/api/controllers/account.py
  backend/api/controllers/meta.py
Due: build-backend, build-backend-nodejs

limits
  frontend/assets/scss/helpers.sass
  frontend/components/Trade/CreatePayment.vue
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/store/exchange.js
Due: build-frontend

commit
  frontend/components/Trade/CreatePayment.vue
  frontend/pages/admin/invoices/index.vue
  frontend/pages/admin/users/_id.vue
  frontend/store/admin.js
Due: build-frontend

fixed cron
  backend/workers/crons.py
Due: build-backend, build-backend-nodejs

changed limits
  backend/config/app_settings.py
  backend/core/integrations/ethereum/base_wrapper.py
  backend/core/mechanics/user_kyc.py
  backend/core/utils/__init__.py
  backend/core/utils/decimal128.py
  backend/schemas/base.py
  backend/schemas/user_kyc.py
  backend/workers/agents/invoices/send_btc_to_proceeding_invoices.py
Due: build-backend, build-backend-nodejs

fixed import conflicts
  backend/core/integrations/ethereum/base_wrapper.py
  backend/schemas/base.py
Due: build-backend, build-backend-nodejs

fixed buy / sell pipeline
  backend/api/controllers/admin/background_jobs.py
  backend/api/controllers/debug.py
  backend/config/app_settings.py
  backend/core/mechanics/invoices/mechanics.py
  backend/core/mechanics/user_kyc.py
  backend/schemas/user_kyc.py
  backend/workers/agents/crypto/btc/update_empty_wallets_info.py
  backend/workers/agents/crypto/simba/fetch_simba_transactions.py
  backend/workers/agents/invoices/rescue_stucked_invoices.py
  backend/workers/agents/invoices/send_btc_to_proceeding_invoices.py
Due: build-backend, build-backend-nodejs

suspended email and misc fixes
  backend/api/controllers/debug.py
  backend/core/mechanics/invoices/mechanics.py
  backend/core/mechanics/user_kyc.py
  backend/core/utils/email.py
  backend/templates/suspended-invoice.html
  frontend/consts/index.js
  frontend/consts/invoice.js
  frontend/lang/eng.js
  frontend/lang/rus.js
Due: build-backend, build-backend-nodejs, build-frontend

fixed errors
  backend/api/controllers/meta.py
  backend/core/mechanics/invoices/mechanics.py
Due: build-backend, build-backend-nodejs

verify edit
  frontend/components/StepIndicator.vue
  frontend/components/Trade/CreatePayment.vue
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/pages/profile/verification.vue
  frontend/store/exchange.js
Due: build-frontend

final of list
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/pages/profile/data.vue
  frontend/store/exchange.js
Due: build-frontend

invoice step logic WIP
  frontend/components/Trade/BillPayment.vue
  frontend/components/Trade/ChooseWallet.vue
  frontend/components/Trade/ConfirmInvoice.vue
  frontend/components/Trade/SimbaRecieved.vue
  frontend/components/Trade/Status.vue
  frontend/components/Trade/Suspended.vue
  frontend/components/Trade/index.js
  frontend/consts/index.js
  frontend/consts/invoice.js
  frontend/pages/exchange/buysell.vue
  frontend/pages/exchange/index.vue
  frontend/store/exchange.js
  frontend/store/invoices.js
Due: build-frontend

final
  frontend/assets/scss/main.sass
  frontend/components/StartVerify.vue
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/nuxt.config.js
  frontend/pages/admin/users/_id.vue
  frontend/pages/profile/data.vue
Due: build-frontend

wip
  backend/database/crud/invoice.py
  backend/schemas/invoice.py
  frontend/components/Trade/BillPayment.vue
  frontend/components/Trade/Cancelled.vue
  frontend/components/Trade/ChooseWallet.vue
  frontend/components/Trade/Completed.vue
  frontend/components/Trade/ConfirmInvoice.vue
  frontend/components/Trade/Final.vue
  frontend/components/Trade/SimbaRecieved.vue
  frontend/components/Trade/Status.vue
  frontend/components/Trade/Suspended.vue
  frontend/components/Trade/WatchingIncomingTransactions.vue
  frontend/components/Trade/WatchingOutcomingTransactions.vue
  frontend/components/Trade/index.js
  frontend/consts/index.js
  frontend/consts/invoice.js
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/mixins/formatCurrency.js
  frontend/mixins/invoiceMixins.js
  frontend/nuxt.config.js
  frontend/pages/admin/invoices/index.vue
  frontend/pages/exchange/buysell.vue
  frontend/pages/exchange/index.vue
  frontend/pages/index.vue
  frontend/plugins/auth.js
  frontend/store/exchange.js
  frontend/store/index.js
  frontend/store/invoices.js
Due: build-backend, build-backend-nodejs, build-frontend

wip
  backend/api/controllers/account.py
  backend/api/controllers/admin/invoice.py
  backend/api/controllers/debug.py
  backend/core/integrations/sumsub_wrapper.py
  backend/core/mechanics/invoices/mechanics.py
  backend/core/mechanics/invoices/utils/rescue_invoices.py
  backend/core/mechanics/invoices/validation.py
  backend/core/mechanics/user_kyc.py
  backend/database/crud/invoice.py
  backend/schemas/invoice.py
  backend/workers/crons.py
  frontend/components/Trade/Cancelled.vue
  frontend/components/Trade/ConfirmInvoice.vue
  frontend/components/Trade/Final.vue
  frontend/components/Trade/Waiting.vue
  frontend/components/Trade/index.js
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/pages/exchange/buysell.vue
  frontend/pages/exchange/index.vue
  frontend/pages/index.vue
  frontend/store/exchange.js
  frontend/store/index.js
Due: build-backend, build-backend-nodejs, build-frontend

formatted
  frontend/components/StartVerify.vue
  frontend/components/StepIndicator.vue
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/pages/admin/users/_id.vue
  frontend/pages/profile/data.vue
  frontend/pages/profile/verification.vue
Due: build-frontend

misc fixes
  backend/core/mechanics/invoices/validation.py
  frontend/components/Trade/ConfirmInvoice.vue
  frontend/components/Trade/CreatePayment.vue
  frontend/pages/admin/invoices/index.vue
  frontend/plugins/auth.js
Due: build-backend, build-backend-nodejs, build-frontend

misc fixes
  backend/api/controllers/admin/invoice.py
  backend/database/crud/invoice.py
  backend/schemas/invoice.py
  frontend/components/Trade/ConfirmInvoice.vue
  frontend/lang/rus.js
  frontend/pages/exchange/buysell.vue
  frontend/plugins/auth.js
  frontend/store/exchange.js
Due: build-backend, build-backend-nodejs, build-frontend

fixes invoice confirming
  backend/api/controllers/invoice.py
  backend/database/crud/invoice.py
  frontend/components/Trade/ConfirmInvoice.vue
Due: build-backend, build-backend-nodejs, build-frontend

misc front fixes
  frontend/components/Trade/WatchingIncomingTransactions.vue
  frontend/lang/eng.js
  frontend/mixins/invoiceMixins.js
  frontend/pages/exchange/buysell.vue
Due: build-frontend

bugfix
  frontend/pages/profile/verification.vue
Due: build-frontend

bugfix for step-indicator and mini-refactoring into verification component
  frontend/pages/profile/verification.vue
Due: build-frontend

profile fix
  frontend/pages/profile/data.vue
Due: build-frontend

misc fixes
  backend/api/controllers/admin/invoice.py
  backend/core/mechanics/user_kyc.py
  deployment/dockerfiles/Dockerfile.frontend.develop
  deployment/dockerfiles/Dockerfile.frontend.master
  frontend/components/Trade/Suspended.vue
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/store/index.js
  utils/simba_invoice_rescue_invoice.py
Due: build-backend, build-backend-nodejs, build-frontend

changing invoice status
  frontend/pages/admin/invoices/index.vue
  frontend/plugins/axios.js
  frontend/store/invoices.js
Due: build-frontend

moved issue simba to agent job, refactored InvoiceMechanics class, fixed btc address issue
  backend/api/controllers/admin/invoice.py
  backend/api/controllers/debug.py
  backend/core/mechanics/invoices/__init__.py
  backend/core/mechanics/invoices/base.py
  backend/core/mechanics/invoices/mechanics.py
  backend/core/mechanics/invoices/multisig.py
  backend/database/crud/invoice.py
  backend/schemas/base.py
  backend/workers/agents/invoices/__init__.py
  backend/workers/agents/invoices/issue_simba_to_proceeding_invoices.py
  backend/workers/agents/invoices/send_btc_to_proceeding_invoices.py
  backend/workers/crons.py
  frontend/components/Trade/ConfirmInvoice.vue
Due: build-backend, build-backend-nodejs, build-frontend

hotfix
  backend/workers/agents/invoices/issue_simba_to_proceeding_invoices.py
Due: build-backend, build-backend-nodejs

misc fixes
  backend/core/mechanics/referrals.py
  backend/schemas/base.py
  frontend/components/AddNewWallet.vue
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/pages/admin/invoices/index.vue
  frontend/pages/admin/users/index.vue
  frontend/store/admin.js
  frontend/store/index.js
Due: build-backend, build-backend-nodejs, build-frontend

changed verification flow
  frontend/pages/profile/verification.vue
Due: build-frontend

hotfix
  frontend/plugins/auth.js
Due: build-frontend

hotfix cookies
  frontend/plugins/auth.js
Due: build-frontend

hotfix cookies
  backend/workers/agents/crypto/simba/fetch_simba_meta.py
  frontend/components/HeaderBalance.vue
  frontend/middleware/fetchUser.js
  frontend/pages/wallet/index.vue
  frontend/plugins/auth.js
  frontend/plugins/axios.js
  frontend/utils/cookies.js
  frontend/utils/index.js
Due: build-backend, build-backend-nodejs, build-frontend

Path conditions:
  build-backend: any of: backend/**/*, deployment/dockerfiles/*
  build-backend-nodejs: any of: backend/**/*, deployment/dockerfiles/*
  build-frontend: any of: frontend/**/*, deployment/dockerfiles/*
