Repository amosov00/simba: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-backend-nodejs, build-frontend

build-backend:
  stage: build
  variables:
    CONTAINER_NAME: backend
    DOCKERFILE_PATH: ./deployment/dockerfiles/Dockerfile.backend.common
  script:
  - docker build --pull -t "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest" . -f $DOCKERFILE_PATH --no-cache
  ...

build-backend-nodejs:
  stage: build
  variables:
    CONTAINER_NAME: backend-nodejs
    DOCKERFILE_PATH: ./deployment/dockerfiles/Dockerfile.backend-nodejs.common
  script:
  - docker build --pull -t "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest" . -f $DOCKERFILE_PATH --no-cache
  ...

build-frontend:
  stage: build
  variables:
    CONTAINER_NAME: frontend
    DOCKERFILE_PATH: ./deployment/dockerfiles/Dockerfile.frontend.$CI_COMMIT_REF_SLUG
  script:
  - docker build --pull -t "$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$CONTAINER_NAME:$CI_COMMIT_REF_SLUG-latest" . -f $DOCKERFILE_PATH --no-cache
  ...

add status kyc endpoint
  .isort.cfg
  backend/api/controllers/account.py
  backend/config/app_settings.py
  backend/config/config_parts/person_verify.py
  backend/core/integrations/person_verify.py
  backend/pyproject.toml
  backend/schemas/user.py
Due: build-backend, build-backend-nodejs

modified sst tx parsing
  backend/api/controllers/admin/invoice.py
  backend/core/mechanics/referrals.py
  backend/workers/crons.py
  frontend/components/Trade/Final.vue
  frontend/mixins/formatCurrency.js
  frontend/mixins/invoiceMixins.js
  frontend/pages/admin/invoices/_id.vue
  frontend/pages/admin/manage-payouts/index.vue
  frontend/yarn.lock
Due: build-backend, build-backend-nodejs, build-frontend

formatted code
  backend/api/controllers/admin/users.py
  backend/api/controllers/debug.py
  backend/api/dependencies.py
  backend/config/config_parts/__init__.py
  backend/core/integrations/person_verify.py
  backend/core/mechanics/__init__.py
  backend/core/mechanics/excel/base.py
  backend/core/middleware/__init__.py
  backend/core/utils/__init__.py
  backend/core/utils/to_objectid.py
  backend/database/crud/__init__.py
  backend/schemas/__init__.py
  backend/schemas/transparency.py
  backend/templates/recover.html
  backend/templates/support-hot-wallet.html
  backend/templates/support-invoice-stuck.html
  backend/templates/verification.html
  backend/workers/agents/blockcypher_webhooks.py
  backend/workers/agents/crypto/__init__.py
  backend/workers/agents/crypto/simba/__init__.py
  backend/workers/agents/invoices/__init__.py
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/pages/admin/invoices/_id.vue
  frontend/pages/admin/invoices/index.vue
  frontend/pages/admin/users/index.vue
  frontend/pages/admin/xpub/index.vue
  frontend/pages/wallet/index.vue
Due: build-backend, build-backend-nodejs, build-frontend

Revert "formatted code"
  backend/api/controllers/admin/users.py
  backend/api/controllers/debug.py
  backend/api/dependencies.py
  backend/config/config_parts/__init__.py
  backend/core/integrations/person_verify.py
  backend/core/mechanics/__init__.py
  backend/core/mechanics/excel/base.py
  backend/core/middleware/__init__.py
  backend/core/utils/__init__.py
  backend/core/utils/to_objectid.py
  backend/database/crud/__init__.py
  backend/schemas/__init__.py
  backend/schemas/transparency.py
  backend/templates/recover.html
  backend/templates/support-hot-wallet.html
  backend/templates/support-invoice-stuck.html
  backend/templates/verification.html
  backend/workers/agents/blockcypher_webhooks.py
  backend/workers/agents/crypto/__init__.py
  backend/workers/agents/crypto/simba/__init__.py
  backend/workers/agents/invoices/__init__.py
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/pages/admin/invoices/_id.vue
  frontend/pages/admin/invoices/index.vue
  frontend/pages/admin/users/index.vue
  frontend/pages/admin/xpub/index.vue
  frontend/pages/wallet/index.vue
Due: build-backend, build-backend-nodejs, build-frontend

added domain to cookies, fixing cookies
  deployment/dockerfiles/Dockerfile.frontend.develop
  deployment/dockerfiles/Dockerfile.frontend.master
  frontend/nuxt.config.js
  frontend/pages/activate/index.vue
  frontend/plugins/auth.js
  frontend/plugins/axios.js
  rundev-front.2.sh
  rundev-front.sh
Due: build-backend, build-backend-nodejs, build-frontend

fixed register help text and fixed redirect errors
  frontend/pages/register/index.vue
  frontend/plugins/auth.js
Due: build-frontend

fixed auth
  frontend/plugins/auth.js
Due: build-frontend

improved auth
  .gitignore
  frontend/components/Header.vue
  frontend/middleware/authRequired.js
  frontend/middleware/fetchUser.js
  frontend/nuxt.config.js
  frontend/package.json
  frontend/plugins/auth.js
  frontend/yarn.lock
  rundev-front.2.sh
Due: build-frontend

improved rescue cron
  .flake8
  backend/api/controllers/debug.py
  backend/core/mechanics/__init__.py
  backend/core/mechanics/invoices/__init__.py
  backend/core/mechanics/invoices/mechanics.py
  backend/core/mechanics/invoices/utils/__init__.py
  backend/core/mechanics/invoices/utils/rescue_invoices.py
  backend/database/db_events.py
  backend/workers/agents/invoices/rescue_stucked_invoices.py
Due: build-backend, build-backend-nodejs

hotfix
  backend/workers/agents/crypto/simba/fetch_simba_transactions.py
Due: build-backend, build-backend-nodejs

logging to invoice mechanics
  backend/api/controllers/admin/__init__.py
  backend/api/controllers/admin/background_jobs.py
  backend/core/mechanics/invoices/mechanics.py
  backend/core/utils/email.py
Due: build-backend, build-backend-nodejs

rescue_stucked_invoices hotfix
  backend/core/mechanics/invoices/mechanics.py
  backend/core/mechanics/invoices/utils/rescue_invoices.py
Due: build-backend, build-backend-nodejs

commit
  frontend/consts/index.js
  frontend/pages/profile/verification.vue
Due: build-frontend

two sections
  frontend/consts/index.js
  frontend/pages/profile/verification.vue
  frontend/static/phone.png
  frontend/static/sumsub.css
  frontend/static/upload.png
Due: build-frontend

2.1 2.2 2.3
  frontend/static/sumsub.css
Due: build-frontend

end of вёрстка
  frontend/pages/profile/verification.vue
  frontend/static/check.svg
  frontend/static/circle.svg
  frontend/static/statusload.svg
  frontend/static/sumsub.css
Due: build-frontend

commit
  frontend/pages/profile/verification.vue
  frontend/static/sumsub.css
Due: build-frontend

added extra logging to SSTWrapper & increase wait time
  backend/core/mechanics/crypto/sst.py
Due: build-backend, build-backend-nodejs

removed docker mounted static folder
  docker-compose.develop.yml
  docker-compose.master.yml
Due: none

change kyc receive status reviewed mechanism
  backend/api/controllers/account.py
Due: build-backend, build-backend-nodejs

add kyc info for user response
  backend/schemas/user.py
Due: build-backend, build-backend-nodejs

commit
  frontend/components/BtnVerify.vue
  frontend/components/CheckBoxVerify.vue
  frontend/components/ConfirmVerify.vue
  frontend/components/StartVerify.vue
  frontend/components/StepIndicator.vue
  frontend/pages/profile/verification.vue
  frontend/static/lock.png
Due: build-frontend

vёrstcka
  backend/schemas/user.py
  frontend/assets/images/loader.gif
  frontend/components/BtnVerify.vue
  frontend/components/CheckBoxVerify.vue
  frontend/components/ConfirmVerify.vue
  frontend/components/StartVerify.vue
  frontend/components/StepIndicator.vue
  frontend/consts/index.js
  frontend/pages/profile/verification.vue
  frontend/static/loader.gif
  frontend/static/sumsub.css
Due: build-backend, build-backend-nodejs, build-frontend

translate
  frontend/pages/profile/verification.vue
Due: build-frontend

finalday
  frontend/components/StartVerify.vue
  frontend/pages/profile/verification.vue
  frontend/plugins/auth.js
  frontend/static/ensumsub.css
  frontend/static/rusumsub.css
Due: build-frontend

add /kyc/status GET current status getter endpoint for applicant and applicant's docs statuses (with time-cache - default 5 minutes)
  .isort.cfg
  backend/api/controllers/account.py
  backend/core/integrations/person_verify.py
  backend/schemas/user.py
Due: build-backend, build-backend-nodejs

fix get service_applicant_id_cache from kyc current status
  backend/api/controllers/account.py
Due: build-backend, build-backend-nodejs

final of the day
  frontend/components/StartVerify.vue
  frontend/components/StepIndicator.vue
  frontend/plugins/auth.js
  frontend/static/ensumsub.css
  frontend/static/rusumsub.css
Due: build-frontend

complete
  frontend/components/StartVerify.vue
  frontend/components/StepIndicator.vue
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/pages/profile/verification.vue
Due: build-frontend

commit
  frontend/lang/eng.js
  frontend/lang/rus.js
  frontend/pages/register/index.vue
  frontend/plugins/i18n.js
Due: build-frontend

logout
  frontend/pages/index.vue
  frontend/plugins/auth.js
Due: build-frontend

document reviewed
  frontend/components/StepIndicator.vue
  frontend/pages/profile/verification.vue
Due: build-frontend

final
  frontend/plugins/auth.js
Due: build-frontend

decodeURI
  frontend/pages/profile/partner.vue
Due: build-frontend

logout fix
  frontend/plugins/auth.js
Due: build-frontend

invoice verification limit WIP
  backend/api/controllers/account.py
  backend/api/controllers/invoice.py
  backend/api/controllers/ping.py
  backend/config/app_settings.py
  backend/core/integrations/base/base_api_wrapper.py
  backend/core/integrations/bitcoin/__init__.py
  backend/core/integrations/bitcoin/price.py
  backend/core/mechanics/crypto/base.py
  backend/core/mechanics/crypto/bitcoin.py
  backend/core/mechanics/invoices/mechanics.py
  backend/database/crud/__init__.py
  backend/database/crud/meta.py
  backend/database/crud/user_kyc.py
  backend/schemas/__init__.py
  backend/schemas/invoice.py
  backend/schemas/meta.py
  backend/schemas/user_kyc.py
  backend/workers/agents/__init__.py
  backend/workers/agents/currency_rate.py
  backend/workers/crons.py
Due: build-backend, build-backend-nodejs

invoice verification limit WIP
  backend/api/controllers/account.py
  backend/api/controllers/admin/invoice.py
  backend/api/controllers/invoice.py
  backend/core/integrations/__init__.py
  backend/core/integrations/ethereum/contract_functions_wrapper.py
  backend/core/integrations/sumsub_wrapper.py
  backend/core/mechanics/__init__.py
  backend/core/mechanics/blockcypher_webhook.py
  backend/core/mechanics/invoices/mechanics.py
  backend/core/mechanics/user_kyc.py
  backend/database/crud/user.py
  backend/schemas/user.py
  backend/schemas/user_kyc.py
  backend/workers/agents/crypto/btc/update_empty_wallets_info.py
  backend/workers/agents/crypto/btc/update_wallets_info.py
  backend/workers/agents/crypto/simba/update_blacklisted_balance.py
  backend/workers/agents/invoices/finish_overdue_invoices.py
  backend/workers/agents/invoices/send_btc_to_proceeding_invoices.py
  backend/workers/agents/user/__init__.py
  backend/workers/agents/user/kyc_status.py
  frontend/pages/activate/index.vue
  frontend/pages/index.vue
  frontend/plugins/auth.js
Due: build-backend, build-backend-nodejs, build-frontend

kyc WIP
  backend/api/controllers/account.py
  backend/core/integrations/sumsub_wrapper.py
  backend/core/mechanics/user_kyc.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/schemas/user.py
  backend/schemas/user_kyc.py
Due: build-backend, build-backend-nodejs

Path conditions:
  build-backend: any of: backend/**/*, deployment/dockerfiles/*
  build-backend-nodejs: any of: backend/**/*, deployment/dockerfiles/*
  build-frontend: any of: frontend/**/*, deployment/dockerfiles/*
